<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cse3310.phms">

    <application
            android:allowBackup="true"
            android:name="com.activeandroid.app.Application"
            android:theme="@style/AppTheme"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <meta-data
                android:name="AA_DB_NAME"
                android:value="Internal.db"/>

        <activity
                android:name=".ui.activities.LoginActivity_"
                android:noHistory="true"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.RegistrationWizardPagerActivity"
                android:label="@string/app_name"
                android:noHistory="true"/>
        <activity
                android:name=".ui.activities.SlidingMenuActivity"
                android:launchMode="singleTop"
                android:label="@string/app_name"/>
        <activity
                android:name=".ui.activities.SearchCardsActivity"
                android:label="Search"
                android:noHistory="true">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.activities.SlidingMenuActivity"/>
        </activity>
        <activity
                android:name=".ui.activities.AddFoodActivity_"
                android:launchMode="singleTop"
                android:label="@string/app_name">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.activities.SlidingMenuActivity"/>
        </activity>
    </application>

</manifest>